*{
    margin : 0;
    padding : 0;
}

:root{
    --SquareBlack : #61a5c2  ;
    --SquareWhite : #a9d6e5  ;
}


body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0b0b0b;
}

.game{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    
}

.chessboard{
    position: relative;
    border: 7px solid rgb(0, 0, 0);
    gap : 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.chessboard span{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(16px, 3vw, 32px);
    height: 10vh;
    width: 10vh;
}

.chessboard span:hover{
    background-color: bisque;
}

.chessboard span img{
    width: 90%;
    object-fit: contain;
}

.white{
    background-color: var(--SquareWhite);
}

.black{
    background-color: var(--SquareBlack);
}

.possible-case::after {
    position: absolute;
    left : 3.5vh;
    top : 3.5vh;
    content: "";
    width: 3vh;
    height: 3vh;
    background-color: rgba(55, 55, 55, 0.535);
    border-radius: 50%;
    z-index: 100;
}


.chesstimer button{
    display: flex;
}

.chesstimer{
    display: flex;
    flex-direction: row;
    text-align: center;
    gap : 15px;
        background-color: #7273B0;
    width: fit-content;
}

#chesstimerblack {
    align-self: flex-start;
}

#chesstimerwhite {
    align-self: flex-end;
}   
.black-secondes, .white-secondes, .black-minutes, .white-minutes {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #fff;
}